---
# Widget Configuration

- resources:
    cpu: true
    memory: true
    disk: /
    uptime: true

- search:
    provider: google
    target: _blank

- datetime:
    text_size: xl
    format:
      timeStyle: short
      dateStyle: long
      hour12: false

- openmeteo:
    label: Berlin
    latitude: 52.52
    longitude: 13.40
    units: metric
    cache: 5